In [2]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings("ignore")

In [3]:
df = pd.read_csv('bank/bank-full.csv',sep=';')
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [4]:
df.shape

(45211, 17)

In [3]:
#get unique values in each column
for col in df.columns:
    print(col, df[col].unique())

age [58 44 33 47 35 28 42 43 41 29 53 57 51 45 60 56 32 25 40 39 52 46 36 49
 59 37 50 54 55 48 24 38 31 30 27 34 23 26 61 22 21 20 66 62 83 75 67 70
 65 68 64 69 72 71 19 76 85 63 90 82 73 74 78 80 94 79 77 86 95 81 18 89
 84 87 92 93 88]
job ['management' 'technician' 'entrepreneur' 'blue-collar' 'unknown'
 'retired' 'admin.' 'services' 'self-employed' 'unemployed' 'housemaid'
 'student']
marital ['married' 'single' 'divorced']
education ['tertiary' 'secondary' 'unknown' 'primary']
default ['no' 'yes']
balance [ 2143    29     2 ...  8205 14204 16353]
housing ['yes' 'no']
loan ['no' 'yes']
contact ['unknown' 'cellular' 'telephone']
day [ 5  6  7  8  9 12 13 14 15 16 19 20 21 23 26 27 28 29 30  2  3  4 11 17
 18 24 25  1 10 22 31]
month ['may' 'jun' 'jul' 'aug' 'oct' 'nov' 'dec' 'jan' 'feb' 'mar' 'apr' 'sep']
duration [ 261  151   76 ... 1298 1246 1556]
campaign [ 1  2  3  5  4  6  7  8  9 10 11 12 13 19 14 24 16 32 18 22 15 17 25 21
 43 51 63 41 26 28 55 50 38 23 20 29 31 37 30 46 27 58 33 35 34 36 39 44]
pdays [ -1 151 166  91  86 143 147  89 140 176 101 174 170 167 195 165 129 188
 196 172 118 119 104 171 117 164 132 131 123 159 186 111 115 116 173 178
 110 152  96 103 150 175 193 181 185 154 145 138 126 180 109 158 168  97
 182 127 130 194 125 105 102  26 179  28 183 155 112 120 137 124 187 190
 113 162 134 169 189   8 144 191 184 177   5  99 133  93  92  10 100 156
 198 106 153 146 128   7 121 160 107  90  27 197 136 139 122 157 149 135
  30 114  98 192 163  34  95 141  31 199  94 108  29 268 247 253 226 244
 239 245 204 231 238 258 230 254 265  71 223 246 250 266 240 205 261 259
 241 260 234 251 225 161 237 262 248 255 220 227 206 224 249 235 228 263
   2 270 232 252 207 200 269 233 256 273 272 242 264 208 214 222 271 203
 221 202 216 201 257 229 210 217  75 213  73  76 267 211 215  77 236  82
   6 209 274   1 243 212 275  80 276   9 279  12 280  88 277  85  84 219
  24  21 282  41 294  49 329 307 303 331 308 300  64 314 287 330 332 302
 323 318 333  60 326 335 313 312 305 325 327 336 309 328 322  39 316 292
 295 310 306 320 317 289  57 321 142 339 301 315 337 334 340 319  17  74
 148 341 299 344 342 324 345 346 304 281 343 338  14 347  15 291 348 349
 285 350 284  25 283 278  81   4  87  83  79  70  13 293  37  78  63  22
 296 355  66  19  35 360 357 354 351 362 358 365 298 286 364 363  47 361
 288 366 356 352 359 297 367 353 368  42 290  67 371 370 369  50  36 373
 374 372 311 375 378  59 379  40  18  43  20  69  38 385  56  55  44 391
  72 390  32  62 399 393  65 377 395 388 389 386  61 412 405 434 394 382
 459 440 397 383  68 461 462 463 422  51 457 430 442 403 454 428 392 410
 401 474 475 477 478  54 476 380 479  45  46 495  58  48 518  52 515 520
 511 536 387 218  33 544 435 436 555 433 446 558 469 616 561 553 384 592
 467 585 480 421 667 626 426 595 381 376 648 521 452 449 633 398  53 460
 670 551 414 557 687 404 651 686 425 504 578 674 416 586 411 756 450 745
 514 417 424 776 396 683 529 439 415 456 407 458 532 481 791 701 531 792
 413 445 535 784 419 455 491 431 542 470 472 717 437   3 782 728 828 524
 562 761 492 775 579 493 464 760 466 465 656 831 490 432 655 427 749 838
 769 587 778 854 779 850 771 594 842 589 603 484 489 486 409 444 680 808
 485 503 690 772 774 526 420 528 500 826 804 508 547 805 541 543 871 550
 530]
previous [  0   3   1   4   2  11  16   6   5  10  12   7  18   9  21   8  14  15
  26  37  13  25  20  27  17  23  38  29  24  51 275  22  19  30  58  28
  32  40  55  35  41]
poutcome ['unknown' 'failure' 'other' 'success']
y ['no' 'yes']

In [4]:
#remove rows with unknown values
df = df[(df['job'] != 'unknown') & (df['marital'] != 'unknown') & (df['education'] != 'unknown') & (df['default'] != 'unknown') & (df['housing'] != 'unknown') & (df['loan'] != 'unknown') & (df['contact'] != 'unknown') & (df['poutcome'] != 'unknown')]

In [5]:
for col in df.columns:
    print(col, df[col].value_counts())

age age
33    412
32    393
34    381
37    368
35    358
     ...
81      3
86      3
18      2
89      1
88      1
Name: count, Length: 70, dtype: int64
job job
management       1753
blue-collar      1537
technician       1289
admin.           1057
services          682
retired           458
self-employed     264
student           237
entrepreneur      211
unemployed        208
housemaid         146
Name: count, dtype: int64
marital marital
married     4501
single      2454
divorced     887
Name: count, dtype: int64
education education
secondary    4197
tertiary     2633
primary      1012
Name: count, dtype: int64
default default
no     7786
yes      56
Name: count, dtype: int64
balance balance
0        432
1         20
2         20
5         17
4         17
        ...
4121       1
1589       1
13156      1
9077       1
1475       1
Name: count, Length: 3090, dtype: int64
housing housing
yes    4942
no     2900
Name: count, dtype: int64
loan loan
no     6753
yes    1089
Name: count, dtype: int64
contact contact
cellular     7257
telephone     585
Name: count, dtype: int64
day day
18    491
15    453
17    431
20    431
13    418
12    380
14    352
5     349
6     341
4     336
11    333
7     320
2     307
8     294
21    279
29    270
30    241
3     237
19    222
16    217
9     183
28    164
26    129
25    111
22    107
1     107
10     99
27     93
23     67
24     50
31     30
Name: count, dtype: int64
month month
may    2436
nov    1093
apr    1075
feb     881
aug     493
jan     472
oct     312
jun     302
sep     281
jul     225
mar     160
dec     112
Name: count, dtype: int64
duration duration
158     38
113     36
136     36
99      35
124     35
        ..
911      1
839      1
644      1
848      1
1127     1
Name: count, Length: 973, dtype: int64
campaign campaign
1     3784
2     2180
3      870
4      406
5      247
6      153
7       93
8       52
9       24
11      12
10      10
12       7
14       1
15       1
13       1
16       1
Name: count, dtype: int64
pdays pdays
182    151
92     138
183    120
91     115
181    114
      ...
480      1
585      1
467      1
553      1
530      1
Name: count, Length: 527, dtype: int64
previous previous
1      2637
2      1980
3      1089
4       689
5       437
6       263
7       190
8       127
9        88
10       63
11       59
12       40
13       36
15       20
14       19
17       15
16       13
19       11
20        8
23        8
18        6
22        6
24        5
29        4
25        4
27        4
21        3
30        3
38        2
37        2
26        2
28        2
51        1
275       1
58        1
32        1
40        1
55        1
35        1
Name: count, dtype: int64
poutcome poutcome
failure    4679
other      1750
success    1413
Name: count, dtype: int64
y y
no     6056
yes    1786
Name: count, dtype: int64

In [6]:
#drop multiple columns
df = df.drop(['balance','day','pdays','duration'],axis=1)
df.head()

,age,job,marital,education,default,housing,loan,contact,month,campaign,previous,poutcome,y
24060,33,admin.,married,tertiary,no,no,no,telephone,oct,1,3,failure,no
24062,42,admin.,single,secondary,no,yes,yes,telephone,oct,1,1,other,yes
24064,33,services,married,secondary,no,yes,no,telephone,oct,1,4,failure,yes
24072,36,management,married,tertiary,no,yes,no,telephone,oct,1,4,other,no
24077,36,management,married,tertiary,no,yes,no,telephone,oct,1,3,failure,yes

In [7]:
df.shape

(7842, 13)

In [8]:
#re index the dataframe
df = df.reset_index(drop=True)
df.head()

,age,job,marital,education,default,housing,loan,contact,month,campaign,previous,poutcome,y
0,33,admin.,married,tertiary,no,no,no,telephone,oct,1,3,failure,no
1,42,admin.,single,secondary,no,yes,yes,telephone,oct,1,1,other,yes
2,33,services,married,secondary,no,yes,no,telephone,oct,1,4,failure,yes
3,36,management,married,tertiary,no,yes,no,telephone,oct,1,4,other,no
4,36,management,married,tertiary,no,yes,no,telephone,oct,1,3,failure,yes

In [9]:
#use label encoder to convert categorical values to numerical values
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for col in ['job','marital','education','default','housing','loan','contact','poutcome','y']:
    df[col] = le.fit_transform(df[col])
df.head()

,age,job,marital,education,default,housing,loan,contact,month,campaign,previous,poutcome,y
0,33,0,1,2,0,0,0,1,oct,1,3,0,0
1,42,0,2,1,0,1,1,1,oct,1,1,1,1
2,33,7,1,1,0,1,0,1,oct,1,4,0,1
3,36,4,1,2,0,1,0,1,oct,1,4,1,0
4,36,4,1,2,0,1,0,1,oct,1,3,0,1

In [10]:
#map month to numerical values
month_map = {'jan':1,'feb':2,'mar':3,'apr':4,'may':5,'jun':6,'jul':7,'aug':8,'sep':9,'oct':10,'nov':11,'dec':12}
df['month'] = df['month'].map(month_map)
df.head()

,age,job,marital,education,default,housing,loan,contact,month,campaign,previous,poutcome,y
0,33,0,1,2,0,0,0,1,10,1,3,0,0
1,42,0,2,1,0,1,1,1,10,1,1,1,1
2,33,7,1,1,0,1,0,1,10,1,4,0,1
3,36,4,1,2,0,1,0,1,10,1,4,1,0
4,36,4,1,2,0,1,0,1,10,1,3,0,1

In [11]:
for col in df.columns:
    print(col, df[col].unique())

age [33 42 36 44 26 51 30 34 49 47 40 38 54 52 48 45 39 37 43 35 50 56 59 53
 46 32 55 41 57 58 31 60 29 27 28 25 24 22 23 21 83 61 73 19 72 69 62 65
 71 64 20 67 76 68 63 70 74 79 75 77 82 66 80 18 78 81 84 89 86 88]
job [ 0  7  4  1  9 10  2  3  5  6  8]
marital [1 2 0]
education [2 1 0]
default [0 1]
housing [0 1]
loan [0 1]
contact [1 0]
month [10 11  1  2  3  4  5  6  7  8  9 12]
campaign [ 1  2  3  5  4  6  7  8  9 11 10 12 14 15 13 16]
previous [  3   1   4   2  16   6   5  10  12   7  18   9   8  11  14  15  26  37
  13  25  20  27  17  23  38  29  24  51 275  22  19  21  30  58  28  32
  40  55  35]
poutcome [0 1 2]
y [0 1]

In [12]:
sample_dict = {}
for i in range (10):
    sample_dict['S'+str(i+1)] = df.sample(frac=0.25,replace=False)

sample_dict

{'S1':       age  job  marital  education  default  housing  loan  contact  month
 5125   38    9        2          1        0        0     0        0      5  \
 7763   77    5        0          0        0        0     0        0     10
 3897   45    1        1          0        0        1     1        0      5
 6564   32    9        1          1        0        1     0        0      2
 2460   40    9        1          1        0        1     1        0      4
 ...   ...  ...      ...        ...      ...      ...   ...      ...    ...
 394    43    4        1          2        0        1     0        0     11
 5304   30    4        2          2        0        0     0        0      6
 3937   35    0        2          1        0        0     1        0      5
 1589   31    9        2          0        0        1     0        0      2
 6600   55    5        0          1        0        0     0        0      2

       campaign  previous  poutcome  y
 5125         1         3         2  0
 7763         2        12         1  0
 3897         3         5         0  0
 6564         6         3         2  1
 2460         2         2         0  0
 ...        ...       ...       ... ..
 394          1         2         1  1
 5304         1         1         0  0
 3937         1         4         0  0
 1589         4         1         0  0
 6600         1         1         0  1

 [1960 rows x 13 columns],
 'S2':       age  job  marital  education  default  housing  loan  contact  month
 3288   30    0        1          1        0        1     0        0      5  \
 6404   36    9        1          2        0        0     0        0      1
 697    42    6        1          1        0        1     0        0     11
 4312   38    7        0          1        0        1     0        0      5
 2914   31    4        2          2        0        1     0        1      5
 ...   ...  ...      ...        ...      ...      ...   ...      ...    ...
 2938   35    1        2          1        1        1     0        0      5
 5623   34    4        1          2        0        0     0        0      8
 4898   30    4        1          2        0        1     0        0      5
 4774   50    6        1          1        0        1     1        0      5
 2741   45    0        0          0        0        1     0        0      4

       campaign  previous  poutcome  y
 3288         1         1         0  0
 6404         1         3         0  1
 697          4         1         0  0
 4312         3         1         1  0
 2914         4         2         2  1
 ...        ...       ...       ... ..
 2938         4         3         0  0
 5623         2         2         0  0
 4898         2         1         0  0
 4774         3         3         0  0
 2741         1         1         2  1

 [1960 rows x 13 columns],
 'S3':       age  job  marital  education  default  housing  loan  contact  month
 1805   50    1        1          0        0        1     1        1      2  \
 1164   58    2        1          2        0        0     1        0      1
 1677   41    4        1          2        0        1     0        0      2
 4659   39    9        2          1        0        1     0        0      5
 22     52    4        1          2        0        1     1        0     11
 ...   ...  ...      ...        ...      ...      ...   ...      ...    ...
 6134   22    8        2          1        0        0     0        0     11
 2856   40    4        1          2        0        0     0        1      5
 5383   46    4        1          2        0        0     0        0      8
 1991   36    1        2          1        0        1     0        0      4
 1889   28    1        2          1        0        1     0        0      3

       campaign  previous  poutcome  y
 1805         5         7         0  0
 1164         1         2         1  0
 1677         1         2         1  0
 4659         2         2         0  0
 22           1         2         1  0
 ...        ...       ...       ... ..
 6134         1         1         0  0
 2856         1         1         1  0
 5383         2         1         2  1
 1991         1         3         0  0
 1889        11         1         1  0

 [1960 rows x 13 columns],
 'S4':       age  job  marital  education  default  housing  loan  contact  month
 6322   51    0        1          1        0        1     1        0      1  \
 2473   33    0        2          1        0        1     0        0      4
 6382   66    5        1          0        0        0     0        1      1
 1443   33    8        2          1        0        1     0        0      2
 6312   64    5        1          2        0        0     0        0      1
 ...   ...  ...      ...        ...      ...      ...   ...      ...    ...
 126    43    4        1          2        0        1     0        0     11
 5365   26    8        2          2        0        0     0        0      7
 1407   31    9        2          1        0        1     0        0      2
 297    32    1        1          1        0        1     0        0     11
 5719   34    7        2          1        0        1     0        0      9

       campaign  previous  poutcome  y
 6322         1         1         0  0
 2473         2         1         1  0
 6382         3         1         0  0
 1443         5         1         0  0
 6312         1         2         0  0
 ...        ...       ...       ... ..
 126          1         7         0  0
 5365         3         2         2  0
 1407         1         5         2  0
 297          3         2         0  0
 5719         3         5         1  1

 [1960 rows x 13 columns],
 'S5':       age  job  marital  education  default  housing  loan  contact  month
 778    30    4        1          1        0        1     1        0     11  \
 4892   33    0        1          1        0        1     0        0      5
 4796   38    9        1          1        0        1     1        1      5
 3210   40    4        1          2        0        1     0        0      5
 4099   50    1        1          0        0        1     0        0      5
 ...   ...  ...      ...        ...      ...      ...   ...      ...    ...
 9      30    0        1          1        0        1     0        1     11
 646    31    9        2          2        0        0     1        0     11
 1759   31    7        1          1        0        1     0        1      2
 2372   32    1        2          1        0        1     0        0      4
 6880   61    3        1          0        0        0     0        0      4

       campaign  previous  poutcome  y
 778          1         1         0  0
 4892         5         3         0  0
 4796         7         1         1  0
 3210         2         4         0  0
 4099         1         2         0  0
 ...        ...       ...       ... ..
 9            1         3         2  0
 646          2         1         0  0
 1759         1         2         0  0
 2372         1         1         0  0
 6880         1         1         1  0

 [1960 rows x 13 columns],
 'S6':       age  job  marital  education  default  housing  loan  contact  month
 2477   30    1        2          1        0        1     0        0      4  \
 5830   40    1        1          1        0        0     0        0      9
 6734   64    5        1          0        0        0     0        0      3
 6970   77    5        1          0        0        0     0        0      5
 164    32    1        2          1        0        1     0        0     11
 ...   ...  ...      ...        ...      ...      ...   ...      ...    ...
 2727   52    0        0          1        0        1     0        0      4
 1250   37    1        1          1        0        1     0        0      2
 2511   32    0        1          1        0        1     0        0      4
 4547   38    3        0          2        0        0     0        0      5
 1756   31    4        2          2        0        1     0        0      2

       campaign  previous  poutcome  y
 2477         2         1         1  0
 5830         1         1         2  1
 6734         3         2         0  1
 6970         1         5         2  1
 164          1         1         0  0
 ...        ...       ...       ... ..
 2727         3         1         1  0
 1250         1         2         0  0
 2511         3         2         0  0
 4547         4         6         0  0
 1756         1         1         2  1

 [1960 rows x 13 columns],
 'S7':       age  job  marital  education  default  housing  loan  contact  month
 7289   42    9        2          1        0        0     0        1      7  \
 6338   57    4        1          2        0        0     0        0      1
 7655   34    4        1          2        0        0     0        0      9
 5126   21    1        2          1        0        0     0        0      5
 1839   47    1        1          1        0        1     0        0      2
 ...   ...  ...      ...        ...      ...      ...   ...      ...    ...
 3064   37    4        1          2        0        1     0        0      5
 5421   49    9        1          1        0        0     0        0      8
 7143   55    3        0          0        0        0     0        0      6
 2276   37    1        1          1        0        1     0        0      4
 2598   44    1        1          1        0        1     0        0      4

       campaign  previous  poutcome  y
 7289         2         3         0  0
 6338         2         3         2  0
 7655         2         1         0  0
 5126         4         2         2  0
 1839         4         2         1  0
 ...        ...       ...       ... ..
 3064         1        12         2  0
 5421         1         1         0  0
 7143         1         3         1  1
 2276         1         2         0  0
 2598         1         1         0  0

 [1960 rows x 13 columns],
 'S8':       age  job  marital  education  default  housing  loan  contact  month
 4361   37    9        0          1        0        1     0        0      5  \
 5739   31    9        2          2        0        0     0        0      9
 3146   37    4        2          2        0        1     0        0      5
 7576   84    5        1          2        0        0     0        1      9
 6740   27    9        2          2        0        0     0        0      3
 ...   ...  ...      ...        ...      ...      ...   ...      ...    ...
 5809   59    9        1          2        0        0     0        0      9
 6454   28    4        2          2        0        0     0        0      2
 3956   36    9        2          1        0        1     0        0      5
 6183   27    1        2          1        0        1     0        0     12
 3987   37    9        1          1        0        1     0        0      5

       campaign  previous  poutcome  y
 4361         3         2         0  0
 5739         1         1         2  1
 3146         1         2         0  1
 7576         1         3         0  1
 6740         2         1         1  0
 ...        ...       ...       ... ..
 5809         1         3         0  0
 6454         4         5         2  0
 3956         2         4         1  0
 6183         3         8         1  0
 3987         4         2         1  0

 [1960 rows x 13 columns],
 'S9':       age  job  marital  education  default  housing  loan  contact  month
 6782   61    4        1          2        0        1     1        0      4  \
 4262   29    1        2          0        0        1     0        0      5
 4161   34    1        1          1        0        1     0        0      5
 7585   28    8        2          2        0        0     0        0      9
 7049   54    9        1          1        0        0     0        0      5
 ...   ...  ...      ...        ...      ...      ...   ...      ...    ...
 2668   34    1        1          1        0        1     0        0      4
 7395   36    4        1          2        0        1     0        0      8
 2494   29    1        1          0        0        1     1        0      4
 246    48    1        1          1        0        1     1        0     11
 1611   53    4        0          1        0        0     1        0      2

       campaign  previous  poutcome  y
 6782         1         2         0  0
 4262         3         1         1  0
 4161         1         9         0  0
 7585         5         3         0  1
 7049         4         4         0  0
 ...        ...       ...       ... ..
 2668         5         4         0  0
 7395         1         2         1  1
 2494         3         1         0  0
 246          1         3         0  0
 1611         2         8         1  0

 [1960 rows x 13 columns],
 'S10':       age  job  marital  education  default  housing  loan  contact  month
 691    31    4        2          2        0        1     0        0     11  \
 1552   28    0        1          1        0        1     0        0      2
 5506   34    4        2          2        0        1     0        0      8
 25     39    0        1          1        0        1     0        0     11
 2892   36    6        1          1        0        1     1        0      5
 ...   ...  ...      ...        ...      ...      ...   ...      ...    ...
 6908   60    1        1          0        0        0     0        0      5
 4733   39    7        1          1        0        1     0        0      5
 2781   30    4        2          2        0        0     0        0      4
 5056   37    4        1          2        0        1     0        0      5
 1033   37    9        1          2        0        1     0        0      1

       campaign  previous  poutcome  y
 691          1         1         0  0
 1552         6         4         1  0
 5506         3         6         0  1
 25           1         2         0  0
 2892         3         2         2  1
 ...        ...       ...       ... ..
 6908         1         2         2  1
 4733         6         3         1  0
 2781         1         2         2  1
 5056         1         3         0  0
 1033         1         1         0  0

 [1960 rows x 13 columns]}

In [17]:
#import svm
#over sampler
from imblearn.over_sampling import SMOTE

import random
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
kernel_list = ['linear','poly','rbf','sigmoid']
best_kernel = ''
best_accuracy = 0
best_C = 0
best_gamma = 0
result_dict = {}

for key, value in sample_dict.items():
    sample_df = value
    X = sample_df.drop('y',axis=1)
    feature_name = X.columns
    y = sample_df['y']
    X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3)
    sm = SMOTE(random_state=2)
    X_train, y_train = sm.fit_resample(X_train, y_train)
    
    scaler = StandardScaler()
    X_train = scaler.fit_transform(X_train)
    
    for iter in range(1000):
        kernel = random.choice(kernel_list)
        C = random.uniform(0,1)
        gamma = random.uniform(0,1)
        model = SVC(kernel=kernel,C=C,gamma=gamma,max_iter=1)
        model.fit(X_train,y_train)
        y_pred = model.predict(X_test)
        accuracy = accuracy_score(y_test,y_pred)
        if accuracy > best_accuracy:
            best_accuracy = accuracy
            best_kernel = kernel
            best_C = C
            best_gamma = gamma
    result_dict[key] = {'accuracy' : best_accuracy, 'kernel' : best_kernel, 'C' : best_C, 'gamma' : best_gamma}
    print('Best accuracy for sample ',key,' is ',best_accuracy)

Best accuracy for sample  S1  is  0.7602040816326531
Best accuracy for sample  S2  is  0.7772108843537415
Best accuracy for sample  S3  is  0.7874149659863946
Best accuracy for sample  S4  is  0.7925170068027211
Best accuracy for sample  S5  is  0.7925170068027211
Best accuracy for sample  S6  is  0.7925170068027211
Best accuracy for sample  S7  is  0.7925170068027211
Best accuracy for sample  S8  is  0.7925170068027211
Best accuracy for sample  S9  is  0.7925170068027211
Best accuracy for sample  S10  is  0.7925170068027211

In [19]:
print(result_dict)

{'S1': {'accuracy': 0.7602040816326531, 'kernel': 'sigmoid', 'C': 0.904418012754082, 'gamma': 0.12180412884757785}, 'S2': {'accuracy': 0.7772108843537415, 'kernel': 'rbf', 'C': 0.12481402749697545, 'gamma': 0.2470578918682892}, 'S3': {'accuracy': 0.7874149659863946, 'kernel': 'rbf', 'C': 0.7478396391447707, 'gamma': 0.032903381881532634}, 'S4': {'accuracy': 0.7925170068027211, 'kernel': 'rbf', 'C': 0.6713614451599669, 'gamma': 0.6276936114673513}, 'S5': {'accuracy': 0.7925170068027211, 'kernel': 'rbf', 'C': 0.6713614451599669, 'gamma': 0.6276936114673513}, 'S6': {'accuracy': 0.7925170068027211, 'kernel': 'rbf', 'C': 0.6713614451599669, 'gamma': 0.6276936114673513}, 'S7': {'accuracy': 0.7925170068027211, 'kernel': 'rbf', 'C': 0.6713614451599669, 'gamma': 0.6276936114673513}, 'S8': {'accuracy': 0.7925170068027211, 'kernel': 'rbf', 'C': 0.6713614451599669, 'gamma': 0.6276936114673513}, 'S9': {'accuracy': 0.7925170068027211, 'kernel': 'rbf', 'C': 0.6713614451599669, 'gamma': 0.6276936114673513}, 'S10': {'accuracy': 0.7925170068027211, 'kernel': 'rbf', 'C': 0.6713614451599669, 'gamma': 0.6276936114673513}}